@font-face {
    font-family: MCFont;
    src: url(/restaurant/font/Minecraft.ttf);
}

body, html {
    overflow-x: hidden;
}

body {
    font-family: MCFont;
    background-color: #C2C18D;
    margin: 0 auto;
}

/* index.html */

/* top bar */

.top-bar{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    align-items: center;
    background-color: #807E26;
    padding: 20px 40px;
}

.top-logo{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 200px;
    height: 100px;
}

.top-icon{
    display: flex;
    justify-content: right;
    align-items: center;
}
.top-icon img{
    width: 30px;
    height: 30px;
    margin: 0px 10px;
}

/* top bar */

/* nav bar */

.nav-bar {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    align-items: center;
    background-color: #265D80;
    padding: 20px 40px;
    font-size: 1.2em;
    position: sticky;
    top: 0; 
    z-index: 1000;
}

.nav-bar-a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: flex;
    width: max-content;
    height: 100%;
    box-sizing: border-box;
    padding: 20px 40px;
    cursor: pointer;
}

.nav-bar-a:hover{
    background-color: #AA4F4F;
}

.nav-bar-a img{
    width: 15px;
    height: 15px;
    margin-left: 10px;
}
.nav-bar-a.open img{
    transform: rotate(180deg);
}

/* nav bar */

/* nav bar dropdown */

.nav-bar-dropdown {
    display: none;
    background-color: #265D80;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    min-width: 160px;
    position: absolute;
    z-index: 1001;
    top: 100%; 
    left: 0; 
}


.nav-bar-dropdown div {
    padding: 12px 16px;
}

.nav-bar-dropdown a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    font-size: 0.8em;
}

.nav-bar-dropdown a:hover {
    background-color: #AA4F4F;
}

#nav-bar-dropdown-protein {
    left: 5%;
}

#nav-bar-dropdown-carb {
    left: 27%;
}

#nav-bar-dropdown-fruit {
    left: 50%;
}

#nav-bar-dropdown-special {
    left: 73%;
}

/* nav bar dropdown */

/* hero */

.hero-1,
.hero-2 {
    position: relative;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: left;
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    padding: 20px 40px;
    margin-bottom: 50px;
    overflow: hidden;
}

.hero-1::before,
.hero-2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/restaurant/image/hero-1.jpg);
    background-size: cover;
    background-position: center;
    filter: blur(8px);
    z-index: 0;
}

.hero-2::before{
    background-image: url(/restaurant/image/hero-2.png);
}

.hero-text {
    color: rgb(255, 255, 255);
    position: relative;
    z-index: 1;
}

.hero-button{
    border: 4px solid #000000;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
    width: max-content;
    padding: 0;
}

.hero-button:hover{
    border: 4px solid #898B8C;
}

.hero-button-a{
    border-top: 4px solid #939192;
    border-left: 4px solid #939192;
    border-right: 4px solid #464646;
    border-bottom: 8px solid #464646;
    background-color: #707070;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: MCFont;
    width: 100%;
    height: 100%;
    display: block;
    box-sizing: border-box;
    padding: 20px 40px;
}

.hero-button-a:hover{
    background-color: #545454;
}
/* hero */

/* footer */

.footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    background-color: #265D80;
    padding: 20px 40px;
    font-size: 1.2em;
    bottom: 0;
    left: 0;
    right: 0;
}

.footer-present{
    grid-column: 1/span 3;
    grid-row: 1/span 2;
    color: rgb(255, 255, 255);
    margin-left: 50px;
    margin: 0 auto;
}

.footer-policy{
    grid-column: 2;
    grid-row: 2;
    color: rgb(255, 255, 255);
    margin-top: 50px; 
    font-size: 0.7em;
}

.footer-icon{
    grid-column: 4;
    grid-row: 1;
    width: 30px;
    height: 10px;
}

/* footer */

/* index.html */

/* about.html */

/* about */

.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #807E26;
    padding: 20px 40px;
}

.about-title{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
}

.about-text{
    font-size: 1.2rem;
    margin-bottom: 30px;
    max-width: 1500px;
    color: rgb(255, 255, 255);
    letter-spacing: 1px;
}

.about-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    text-align: center;
    gap: 20px;
    background-color: #807E26;
}

/* about */

/* map */

.map-container{
    max-width: 600px;
    margin: 50px auto;
    padding: 20px 40px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.map-title{
    color: rgb(0, 0, 0);
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.map-container iframe{
    width: 300px;
    height: 400px;
}

/* map */

/* contact */

.contact {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px 40px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.contact-title {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color: #333333;
}

.contact-text {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 30px;
    color: #555555;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    font-size: 1rem;
    margin-bottom: 5px;
    color: #333333;
}

.contact-form input,
.contact-form textarea {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;
}


.contact-form textarea {
    resize: vertical;
    min-height: 150px;
    max-height: 150px;
}

.contact-form button {
    font-family: MCFont;
    padding: 10px;
    background-color: #265D80;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-form button:hover {
    background-color: #1b4a63;
}

/* contact */

/* about.html */



/* foods-html */

.type-name{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #807E26;
    padding: 20px 40px;
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
}

.product-container {
    display: flex;
    max-width: 100px;
    justify-content: center;
    padding: 20px 40px;
    margin: 0 auto 50px auto;
}

.product-box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 100px;
    max-width: fit-content;
    padding: 20px 40px;
    margin: 0 auto;
}

.product-box nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #807E26;
    border-radius: 25px;
    padding: 20px 40px;
    text-align: center;
    max-width: 180px; 
}

.product-box nav button{
    margin-top: auto;
}

.product-box nav figure{
    border: 5px solid #EEEEEE;
    margin: 0;
    padding: 0;
}

.product-box nav figure img{
    display: block;
    border-top: 5px solid #000000;
    border-left: 5px solid #000000;
    background-color: #8C8C8C;
    margin: 0;
    width: 97.5%;
}

.product-box nav h3{
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: bold;
    margin: 20px 0;
    letter-spacing: 1px;
}

.product-box nav p{
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: bold;
    margin: 20px 0;
    letter-spacing: 2px;
    margin: 0 0 20px 0;
}

.product-box nav p img{
    width: 30px;
    height: 30px;
    margin: 0 10px;
    display: inline-block;
}

/* foods-html */

@media screen and (max-width: 400px) {
    .top-bar {
        grid-template-columns: 1fr;
        padding: 10px 20px;
        justify-content: center;
        text-align: center;
    }

    .top-logo,
    .top-icon {
        justify-content: center;
        margin: 0 auto;
        margin-bottom: 10px;
    }
}


@media screen and (max-width: 768px) {
    

    /* nav bar */
    .nav-bar {
        grid-template-columns: 1fr;
        padding: 10px 20px;
    }

    .nav-bar-a {
        padding: 10px 20px;
        font-size: 0.9em;
    }

    .nav-bar-a img {
        width: 12px;
        height: 12px;
    }

    .nav-bar-dropdown {
        top: 170px;
    }

    #nav-bar-dropdown-protein {
        left: 0;
        top: 25%;
    }
    
    #nav-bar-dropdown-carb {
        left: 0;
        top: 50%;
    }
    
    #nav-bar-dropdown-fruit {
        left: 0;
        top: 70%;
    }
    
    #nav-bar-dropdown-special {
        left: 0;
        top: 90%;
    }

    /* hero */
    .hero-1, .hero-2 {
        height: 400px;
        font-size: 1.5rem;
        padding: 10px 20px;
    }

    .hero-button-a {
        padding: 15px 30px;
        font-size: 1rem;
    }

    /* footer */
    .footer {
        text-align: center;
        padding: 10px 20px;
    }

    .footer-present, .footer-policy, .footer-icon {
        margin: 10px 0;
    }

    .footer-present {
        margin-bottom: 50px;
    }

    .footer-policy {
        margin-top: 50px;
    }

    .footer-icon{
        width: 30px;
        height: 10px;
    }

    /* about */
    .about, .map-container, .type-name {
        padding: 10px 20px;
    }

    .about-container {
        grid-template-columns: 1fr;
    }

    .map-container iframe {
        min-width: 300px;
        height: 400px;

    }

    .contact {
        padding: 10px 20px;
        width: 300px;

    }

    /* foods-html */
    .product-container {
        max-width: 100%;
        padding: 10px 20px;
    }

    .product-box {
        grid-template-columns: 1fr;
        gap: 20px;
        padding: 10px 20px;
    }

    .product-box nav {
        padding: 10px 20px;
    }

    .product-box nav h3 {
        font-size: 20px;
        margin: 10px 0;
    }

    .product-box nav p {
        font-size: 20px;
    }

    .product-box nav p img {
        width: 25px;
        height: 25px;
    }
}

@media screen and (max-width: 768px) and (min-width: 500px) {
    .product-box {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        padding: 10px 20px;
    }
}


@media screen and (min-width: 1000px) {
    #nav-bar-dropdown-protein {
        left: 3%;
    }
    
    #nav-bar-dropdown-carb {
        left: 26%;
    }
    
    #nav-bar-dropdown-fruit {
        left: 50%;
    }
    
    #nav-bar-dropdown-special {
        left: 74%;
    }
    
}

