@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

html, body {
    height: 100%;
    margin: 0;
}

body {
    background: radial-gradient(circle at 20% 50%, #DB7D30 10%, #C98147 30%, #B5A496 100%);
    text-align: center;
    width: 100%;
    max-width: 300px;
    max-height: 500px;
    margin: 0 auto; 
    align-items: center;
}

.avatar {
    margin-top: 50px;
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

h1 {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 1000;
    font-size: 64px;
    color: #000;
    margin: 100px 0 20px;
}

h2 {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #767676;
    margin: 0;
}

h3 {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 1000;
    font-size: 24px;
    color: #000;
    margin: 10px 0 0;
    background: linear-gradient(180deg, #FFFFFF 0%, #ebebeb 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);
}

h4 {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #767676;
    margin: 0 0 35px;
    background: linear-gradient(180deg, #FFFFFF 0%, #B8B8B8 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

a {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #000;
    text-decoration: none;
    padding: 15px 30px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    box-shadow: 0px 5px 1px rgba(0, 0, 0, 0.1);
    background: linear-gradient(90deg, #d6d6d6 0%, #FFFFFF 50%, #d6d6d6 100%);
    display: block;
    margin: 0 0 25px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

a:hover {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transform: translateY(-3px);
}

b {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #000;
    padding: 15px 30px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    box-shadow: 0px 5px 1px rgba(0, 0, 0, 0.1);
    background: linear-gradient(90deg, #d6d6d6 0%, #FFFFFF 50%, #d6d6d6 100%);
    display: block;
    margin: 50px auto 0;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.social a {
    background: none;
    box-shadow: none;
    padding: 0;
    border: 0;
    height: 24px;
    width: 24px;
    border-radius: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.social a:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.social > * {
    margin: 12.5px;
}

.bonobo img {
    margin-top: 50px;
    width: 500px;
    height: auto;
    border: 5px solid #000;
    border-radius: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
