html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow-x: hidden;
}

body {
    background: #F0F5F9;
    display: block;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    background-image: url("../image/background.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.top-column{
    display: flex;
    background: #C9D6DF;
    align-items: center;
    height: 60px;
    border-bottom: 1px solid #1E2022;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.header{
    margin-left: 10px;
    margin-top: 0px;
}

.menu{
    cursor: pointer;
    gap: 30px;
    margin-left: auto;
    margin-right: 10px;
    display: none;
}

.menu a{
    font-size: 1.2em;
    font-weight: 600;
    white-space: nowrap;
    text-decoration: none;
    color: #000;
}

.hamburger-icon{
    margin-left: auto;
    margin-right: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    cursor: pointer;
}

.hamburger-menu {
    position: fixed;
    width: 100%;
    top: 60px;
    right: 0;
    z-index: 1000;
    overflow: hidden;
    display: none;
}

.hamburger-menu div {
    background-color: #C9D6DF;
    padding: 5px;
    text-align: right;
    transition: color 0.3s, background-color 0.3s, transform 0.3s;
}

.hamburger-menu a {
    font-size: 1.2em;
    font-weight: 600;
    white-space: nowrap;
    text-decoration: none;
    color: #000;
}

.hamburger-menu div:hover {
    background-color: #52616B;
}

#blur-background {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(8px);
    z-index: 999; 
    opacity: 0;
    display: none;
    transition: opacity 0.5s, transform 0.5s;
    pointer-events: none;
}

#blur-background.show {
    display: block;
    animation: fadeIn 0.5s forwards;
}

#blur-background.hide {
    animation: fadeOut 0.5s forwards;
}


.main-blog{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    margin-top: 75px;
}

.main-blog-item{
    display: flex;
    flex-direction: column;
    inline-size: 100px;
    align-items: center;
    inline-size: 110px;
    position: relative;
}

.main-image img{
    width: 110px;
    height: auto;
    border-radius: 10px;
}

.main-blog div{
    background-color: #C9D6DF;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 15px;
    width: auto;
    min-width: 75px;
    max-width: 150px;
    position: absolute;
    top: 70%;
    cursor: pointer;

}

.main-blog h2{
    font-size: 0.8em;
    color: #000;
    margin: 0;
}

.main-blog p{
    font-size: 0.6em;
    color: #000;
    margin: 0;
}

.blog{
    display: grid;
    flex-direction: column;
    gap: 10px;
    margin: 10px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.new-blog{
    display: flex;
    flex-direction: column;
    background: #C9D6DF;
    border-radius: 15px; 
    max-width: 600px;
    width: 90%;
    margin: 0 auto;
}

#one{
    grid-column: 1/span 3;
    grid-row: 1/span 2;
}

#two{
    grid-column: 4;
    grid-row: 1;
}

#three{
    grid-column: 4;
    grid-row: 2;
}

.blog-image {
    align-items: center;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.blog-image img {
    max-width: 800px;
    width: 100%;
    max-height: 500px;
    margin: 0 auto;
    border-radius: 10px;
    cursor: pointer;
}

.new-blog div{
    text-align: left;
    margin-left: 5px;
    margin-right: 5px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: calc(100% - 40px);
    box-sizing: border-box;
}

.new-blog summary{
    font-size: 0.75em;
    color: #000;
    margin: 0;
    margin-bottom: 3px;
}

.new-blog h3{
    font-size: 1.5em;
    color: #000;
    margin: 0;
    cursor: pointer;
}

.new-blog p{
    font-size: 0.8em;
    color: #000;
    margin: 0;
    margin-top: 10px;
}



.foot{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #52616B;
    padding: 10px;
    margin-top: 10px;
    bottom: 0;
    width: 100%;
}

.foot nav{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.foot nav a{
    font-size: 0.85em;
    font-weight: 600;
    white-space: nowrap;
    text-decoration: none;
    color: #000;
    position: relative;
    padding-right: 15px;
    display: block;
    width: 100%;
}

.foot nav a::after {
    content: '|';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    color: #C9D6DF;
}

.foot nav a:last-child::after {
    content: '';
}

.foot p{
    font-size: 0.7em;
    font-weight: 600;
    color: #000;
    margin: 0;
    margin-top: 10px;
}

@media screen and (min-width: 368px) and (max-width: 767px){


}

@media screen and (min-width: 768px){
    .top-column{
        right: 17px;
    }
    .menu{
        display: flex;
    }
    .hamburger-icon{
        display: none;
    }
    .header{
        margin-left: 25px;
    }
    .main-blog-item{
        width: 100%;
    }
    .hamburger-menu{
        right: 17px;
    }

    #blur-background{
        right: 17px;
    }
}

@media screen and (max-width: 767px){
    #one, #two, #three {
        grid-column: auto;
        grid-row: auto; 
    }

    .main-blog-item{
        width: 100%;
    }
    
}

@media (min-width: 1350px) {
    .blog {
        max-width: 1350px;
        margin: 0 auto;
        margin-top: 50px;
    }

    .main-blog {
        max-width: 1350px;
        margin: 0 auto;
        margin-top: 50px;
    }
}

@media (max-width: 550px) {


    .main-blog-item {
        margin-bottom: 10px; /* Aralarındaki boşluğu azaltır */
        width: 90%; /* Yüzde 90 genişlik ile ekranın tamamını kullanır */
        max-width: none; /* Maksimum genişlik sınırlamasını kaldırır */
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-10px);
    }
}