html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow-x: hidden;
}

body {
    background: #F0F5F9;
    display: block;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    background-image: url("../image/background.jpg");
}

.top-column{
    display: flex;
    background: #C9D6DF;
    align-items: center;
    height: 60px;
}

.header{
    margin-left: 10px;
    margin-top: 0px;
}

.hamburger-close{
    margin-left: auto;
    margin-right: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#blur-background {
    position: fixed;
    top: 100px;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(8px);
    z-index: 9; 
    display: none;

}

.hamburger-menu {
    /* display: none; */
    position: absolute;
    width: 100%;
    top: 60px;
    right: 0px;
    z-index: 10;  
    overflow: hidden;
}

.hamburger-menu div {
    background-color: #C9D6DF;
    padding: 5px;
    text-align: right;
    transition: color 0.3s, background-color 0.3s, transform 0.3s;
}

.hamburger-menu a {
    font-size: 1.2em;
    font-weight: 600;
    white-space: nowrap;
    text-decoration: none;
    color: #000;
}

.hamburger-menu div:hover {
    background-color: #52616B;
}


.main-blog{
    display: flex;
    justify-content: space-between;
    width: fit-content;
    gap: 15px;
    margin-left: 7px;
    margin-top: 25px;
}

.main-blog-item{
    display: flex;
    flex-direction: column;
    inline-size: 100px;
    align-items: center;
    inline-size: 110px;
    position: relative;
}

.main-image img{
    width: 110px;
    height: auto;
    border-radius: 10px;
}

.main-blog div{
    background-color: #C9D6DF;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 15px;
    width: auto;
    min-width: 75px;
    max-width: 150px;
    position: absolute;
    top: 70%;

}

.main-blog h2{
    font-size: 0.8em;
    color: #000;
    margin: 0;
}

.main-blog p{
    font-size: 0.6em;
    color: #000;
    margin: 0;
}

.blog{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px;
    margin-bottom: 50px;
    margin-bottom: 0px;
}

.new-blog{
    display: flex;
    flex-direction: column;
    background: #C9D6DF;
    border-radius: 15px;
    align-items: center;
    margin-top: 50px;
}

.blog-image {
    align-items: center;
    margin-bottom: 10px;
}

.blog-image img {
    width: 340px;
    height: 240px;
    border-radius: 10px;
}

.new-blog div{
    text-align: left;
    margin-left: 10px;
    padding-bottom: 10px;
}

.new-blog summary{
    font-size: 0.75em;
    color: #000;
    margin: 0;
    margin-bottom: 3px;
}

.new-blog h3{
    font-size: 1.5em;
    color: #000;
    margin: 0;
}

.new-blog p{
    font-size: 0.8em;
    color: #000;
    margin: 0;
    margin-top: 10px;
}


.foot{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #52616B;
    padding: 10px;
    margin-top: 10px;
    bottom: 0;
    width: 100%;
}

.foot nav{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.foot nav a{
    font-size: 0.85em;
    font-weight: 600;
    white-space: nowrap;
    text-decoration: none;
    color: #000;
    position: relative;
    padding-right: 15px;
    display: block;
    width: 100%;
}

.foot nav a::after {
    content: '|';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    color: #C9D6DF;
}

.foot nav a:last-child::after {
    content: '';
}

.foot p{
    font-size: 0.7em;
    font-weight: 600;
    color: #000;
    margin: 0;
    margin-top: 10px;
}

@media screen and (min-width: 550px){
    .main-blog-item{
        width: 100%;
    }
    .hamburger-menu{
        display: none;
        right: 17px;
    }

}