@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Indie+Flower&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow-x: hidden;
}

body {
    background: #F0F5F9;
    display: block;
    text-align: center;
    background-image: url("../image/background.jpg");
    background-size: cover;
    background-attachment: fixed;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.top-column{
    display: flex;
    background: #C9D6DF;
    align-items: center;
    height: 60px;
    border-bottom: 1px solid #1E2022;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.header{
    margin-left: 10px;
    margin-top: 0px;
}

.menu{
    cursor: pointer;
    gap: 30px;
    margin-left: auto;
    margin-right: 10px;
    display: none;
}

.menu a{
    font-size: 1.2em;
    font-weight: 600;
    white-space: nowrap;
    text-decoration: none;
    color: #000;
}

.hamburger-icon{
    margin-left: auto;
    margin-right: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    cursor: pointer;
}

.hamburger-menu {
    position: fixed;
    width: 100%;
    top: 60px;
    right: 0;
    z-index: 1000;
    overflow: hidden;
    display: none;
}

.hamburger-menu div {
    background-color: #C9D6DF;
    padding: 5px;
    text-align: right;
    transition: color 0.3s, background-color 0.3s, transform 0.3s;
}

.hamburger-menu a {
    font-size: 1.2em;
    font-weight: 600;
    white-space: nowrap;
    text-decoration: none;
    color: #000;
}

.hamburger-menu div:hover {
    background-color: #52616B;
}

#blur-background {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(8px);
    z-index: 999; 
    opacity: 0;
    display: none;
    transition: opacity 0.5s, transform 0.5s;
    pointer-events: none;
}

#blur-background.show {
    display: block;
    animation: fadeIn 0.5s forwards;
}

#blur-background.hide {
    animation: fadeOut 0.5s forwards;
}

.main-title{
    display: flex;
    justify-content: center;
    margin-top: 60px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    border-radius: 25px;
    margin-left: 10px;
    margin-right: 10px;
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
}

.main-blog{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
}

.main-blog-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    inline-size: 110px;
    position: relative;
    max-width: 100%;
    margin: 0 10px;
}

.main-image img{
    min-width: 110px;
    max-width: 220px;
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.main-blog div{
    background-color: #C9D6DF;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 15px;
    width: auto;
    min-width: 75px;
    position: absolute;
    top: 70%;
    cursor: pointer;
    box-sizing: border-box;
}

.main-blog h2{
    font-size: 0.8em;
    color: #000;
    margin: 0;
}

.main-blog p{
    font-size: 0.6em;
    color: #000;
    margin: 0;
}

.blog{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 10px;
    margin: 10px;
    margin-bottom: 50px;
    margin-top: 50px;
    
}

.new-blog{
    display: flex;
    flex-direction: column;
    background: #C9D6DF;
    border-radius: 15px;
    width: 100%;
    height: auto;
    
}

.blog-image {
    align-items: center;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.blog-image img {
    max-width: 800px;
    width: 100%;
    max-height: 500px;
    margin: 0 auto;
    border-radius: 10px;
    cursor: pointer;
}

.new-blog div{
    text-align: left;
    margin-left: 5px;
    margin-right: 5px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: calc(100% - 40px);
    box-sizing: border-box;
}

.new-blog summary{
    font-size: 0.75em;
    color: #000;
    margin: 0;
    margin-bottom: 3px;
}

.new-blog h3{
    font-size: 1.5em;
    color: #000;
    margin: 0;
    cursor: pointer;
}

.new-blog p{
    font-size: 0.8em;
    color: #000;
    margin: 0;
    margin-top: 10px;
}

#one{
    grid-column: 1/span 3;
    grid-row: 1/span 2;
    max-width: 800px;
    max-height: 100%;
}

#two{
    grid-column: 4;
    grid-row: 1;
    max-width: 100%;
    max-height: 100%;
}

#three{
    grid-column: 4;
    grid-row: 2;
    max-width: 100%;
    max-height: 100%;
}

/* about.html */

.about-new-blog{
    display: flex;
    flex-direction: column;
    background: #C9D6DF;
    height: auto;
    margin: 100px;
    margin-top: 61px;
    text-align: left;
    padding: 20px;
    max-width: 800px;
}
.about-new-blog div{
    margin: 10px;
}

.about-new-blog summary{
    font-size: 0.75em;
    color: #000;
    margin-bottom: 3px;
}

.about-new-blog h3{
    font-size: 1.5em;
    color: #000;
    margin: 0;
}
.about-new-blog p{
    font-size: 0.8em;
    color: #000;
    margin: 0;
    margin-top: 10px;
}

/* about.html */

/* footer */
.foot{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #52616B;
    padding: 10px;
    margin-top: 10px;
    bottom: 0;
    width: 100%;
}

.foot nav{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.foot nav a{
    font-size: 0.85em;
    font-weight: 600;
    white-space: nowrap;
    text-decoration: none;
    color: #000;
    position: relative;
    padding-right: 15px;
    display: block;
    width: 100%;
}

.foot nav a::after {
    content: '|';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    color: #C9D6DF;
}

.foot nav a:last-child::after {
    content: '';
}

.foot p{
    font-size: 0.7em;
    font-weight: 600;
    color: #000;
    margin: 0;
    margin-top: 10px;
}

@media screen and (min-width: 368px) and (max-width: 767px){
    .main-blog {
        width: 45%;
    }

}

@media screen and (min-width: 768px){
    .top-column{
        right: 17px;
    }
    .menu{
        display: flex;
    }
    .hamburger-icon{
        display: none;
    }
    .header{
        margin-left: 25px;
    }
    .main-blog-item{
        width: 100%;
    }
    .hamburger-menu{
        right: 17px;
    }

    #blur-background{
        right: 17px;
    }
    .main-blog div{
        top: 80%;
        font-size: 1.8em;
    }
    #one{
        font-size: 1.5em;
    }
}

@media screen and (max-width: 767px){
    .blog {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    #one {
        grid-column: 1;
        grid-row: 1;
    }

    #two {
        grid-column: 1;
        grid-row: 2;
    }

    #three {
        grid-column: 1;
        grid-row: 3;
    }

    .main-blog {
        width: 45%;
    }

    .main-blog-item {
        padding: 0 10px;
        width: 50%;  
    }
    
}

@media (min-width: 1100px) {
    .blog {
        max-width: 1100px;
        margin: 0 auto;
        margin-top: 50px;
    }

    .main-blog {
        max-width: 1100px;
        margin: 0 auto;
    }

    .new-blog {
        max-width: 1100px;
        margin: 0 auto;
    }
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-10px);
    }
}